<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad-Venture</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Ad-Venture</h1>
        <button id="influencerBtn" onclick="window.location.href='/signup/influencer'">Sign Up as an Influencer</button>
        <button id="productBtn" onclick="window.location.href='/signup/product'">Sign Up as a Product</button>
        <button id="signInBtn" onclick="window.location.href='/signin'">Sign In</button>
    </div>
    <script src="static/scripts.js"></script>
</body>
</html>
